* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navmenu {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

.service-header {
  height: 40vh;
  background-color: antiquewhite;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-container {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 5px;
}

.services-option {
  height: 30vh;
  border: 1px solid black;
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 5px;
}
.para-main {
  height: 30vh;
  border: 1px solid black;
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.intro-container {
  height: 65vh;
  width: 50vw;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.intro-item {
  height: 20vh;
  width: 10vw;
  border: 1px solid yellowgreen;
}

.main-container {
  margin-top: 30px;
}
